*{
    box-sizing: border-box;
    background: lemonchiffon;
}
.content{
    max-width: 650px;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}

button{
    width: 150px;
    height: 55px;
    background:olivedrab;
    color:whitesmoke;
    font-weight: bolder;
    font-size: 24px;
    cursor: move;
}
a{
    text-decoration: none;
    color: inherit;
}